#map {
  width: 100%;
}

.select {
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding-left:1.5em;
  margin: 0;

  transition: border-color 0.2s;
  border: 5px solid lightblue;
  border-radius: 5px;

  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.select .arr {
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  pointer-events: none;
}
.select .arr:before {
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
}

#autocomplete {
  width: 200px;
  height: 50px;
  font-size: 16px;
  text-align: center;
}

#country {
  font-size: 24px;
}

#info-content {
  font-size: 16px;
}

.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}
