/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  background-color: #96958c;
}

.container {
  width: 90%;
}

.content {
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: white;
}

#Logo{
	height:auto;
	width:200px;
	position: fixed;
  margin-top: -10px;
  top: 0;
}

.navbar, 
.dropdown-toggle, 
.navbar-default, 
.navbar-fixed-bottom, 
.navbar-default, 
.navbar-nav>li>a {
  color: #4f1308;
  background-color: #eeede4;
  padding: 10px;
}

.polaroid {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  
}

.item {
  margin: 5px;
  width:100%;
  height:250px;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden
}

.art {
  flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:100%;
    max-height: -webkit-fill-available;
  cursor: pointer;
}


#modal-image {
  width: 100%;
  height: 100%;
}

.modal-dialog {
  width: auto;
  height: auto;
  max-width: 960px;
}


.header-content {
  float: center;
}

.media-body {
  background-color: white;
  border-radius: .5em;
  padding: 5px;
  text-align: left;
}

.twitter-timeline {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

#btnMenu{
	margin-top: 15px;
	height: 30px;
}

.PageHeader{
	text-align: center;
}

.socialImg {
  height: 30px;
  margin-top: 15px;
}

.btn-primary {
  background-color: #96958c;
}

.btn-primary:hover {
  background-color: #96958c;
}

.media-object {
  height: 140px;
	width: 140px;
}

.footer {
  width: 100%;
}

#footer{
	text-align: center;
  color: #112668;
  background-color: #eeede4;
	font-size: 12px;
  margin-top: 100px;
}

#copyright {
  margin-top: 8px;
  margin-bottom: 5px;
  color: #4f1308;
}