body {
	font-family: Verdana;
	font-size: 14px;
	background-color: #eeede4;
}

.navbar{
	background-color: #96958c;
}

.art {
	height: 140px;
	width: 140px;
	float: left;
	margin: 0px 20px 20px 0px;
}

#Logo{
	height:75px;
	width:200px;
	position: fixed;
    bottom: 0;
    top: 0;
    padding-bottom: 20px;
}

#btnMenu{
	margin-top: 15px;
	height: 30px;
	/*background-color: #2b69ce*/
}
.PageHeader{
	text-align: center;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.socialImg {
	height: 30px;  
}

.profileImg {
	height: 99px;  
}

.ArtGalleryImg{
	height: 140px;
	width: 140px;
	margin-right: 15px;	
	margin-bottom: 15px;
}


#footer{
	text-align: center;
	color: navy;
	background-color: #96958c;
	font-size: 12px;
	margin-top: 15px;
}